.info {
  &__top {
    position: relative;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-width: 100%;

      img {
        height: 145px;
        width: 100%;
        object-fit: cover;
      }
    }

    &-btn {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      margin-right: 12px;

      button {
        margin-top: 22px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        padding: 9px 16px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 6px;
        transition: all 0.3s;

        &:hover {
          background: #fff;
          color: #000;
          border: 1px solid #000;
          transition: all 0.3s;
        }
      }
    }

    &-left {
      position: relative;
      z-index: 2;
      margin-left: 50px;
      display: flex;
      align-items: flex-end;
      margin-top: 40px;
      margin-bottom: 50px;

      @media (max-width: $Large-lg) {
        margin-bottom: 40px;
      }
      @media (max-width: $Small-sm) {
        margin-bottom: 30px;
        margin-left: 10px;
      }

      &-ava {
        max-height: 116px;
        max-width: 116px;
        width: 100%;
        height: 100%;
      }

      &-ava img{
        width: 100px;
        height: 100px;
      }

      &-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #374151;
        padding: 9px 10px;
        background: #ffffff;
        border: 1px solid #d1d5db;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        margin-left: 10px;
        margin-bottom: 7px;
        transition: all 0.3s;

        &:hover {
          background: #fff;
          color: #000;
          border: 1px solid #000;
          transition: all 0.3s;
        }
      }
    }
  }

  &__content {
    margin-bottom: 50px;

    @media (max-width: $Large-lg) {
      margin-bottom: 40px;
    }
    @media (max-width: $Small-sm) {
      margin-bottom: 30px;
    }
  }

  &__second {
    display: flex;
    margin-bottom: 50px;

    @media (max-width: $Large-lg) {
      margin-bottom: 40px;
    }
    @media (max-width: $Small-sm) {
      margin-bottom: 30px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      max-width: 351px;
      width: 100%;
      height: 100%;

      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #374151;
        text-align: left;
        margin-bottom: 4px;
      }

      &-input {
        position: relative;

        input {
          background: #ffffff;
          border: 1px solid #d1d5db;
          box-sizing: border-box;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          border-radius: 6px;
          padding: 9px 13px;
          width: 100%;
        }

        span {
          position: absolute;
          top: 50%;
          left: 13px;
          transform: translateY(-50%);
        }
      }

      &:first-child {
        margin-right: 27px;
        .info__second-items-input {
          input::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #111827;
          }
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #111827;
          }
        }
      }

      &:last-child {
        .info__second-items-input {
          input {
            padding-left: 130px;
            @media (max-width: $Small-sm) {
              padding-left: 80px;
              padding-right: 5px;
            }
          }
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6b7280;
            background: #f9fafb;
            border: 1px solid #d1d5db;
            padding: 9px 13px;
            margin-left: -13px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            @media (max-width: $Small-sm) {
              padding: 9px 2px;
            }
          }
        }
      }
    }
  }

  &__date {
    margin-bottom: 50px;

    @media (max-width: $Large-lg) {
      margin-bottom: 40px;
    }
    @media (max-width: $Small-sm) {
      margin-bottom: 30px;
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #111827;
      margin-bottom: 4px;
      text-align: left;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #6b7280;
      margin-bottom: 35px;
      text-align: left;
    }

    &-content {
      padding: 40px;
      background: #ffffff;
      border: 1px solid #dddddd;
      box-sizing: border-box;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      @media (max-width: $Large-lg) {
        padding: 30px;
      }
      @media (max-width: $Small-sm) {
        padding: 15px 25px;
      }

      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #374151;
        margin-bottom: 4px;
      }

      &-input {
        margin-bottom: 11px;
        width: 100%;
        height: 38px;

        input {
          background: #ffffff;
          border: 1px solid #d1d5db;
          box-sizing: border-box;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          border-radius: 6px;
          width: 100%;
          height: 100%;
          padding: 0 10px;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: #6b7280;
        text-align: left;
      }
    }
  }

  &__link {
    display: flex;
    margin-bottom: 50px;

    @media (max-width: $Large-lg) {
      margin-bottom: 40px;
    }
    @media (max-width: $Small-sm) {
      margin-bottom: 30px;
    }

    &-item {
      &:first-child {
        margin-right: 30px;
        width: 100%;
      }

      &:last-child {
        max-width: 196px;
        width: 100%;
        .info__link-input {
          background: #ffffff;
          border: 1px solid #d1d5db;
          box-sizing: border-box;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          border-radius: 6px;
          display: flex;

          &-wrapper {
            overflow: hidden;
            position: relative;
            width: 35px;
            height: 38px;
            border: 1px solid #d1d5db;
            box-sizing: border-box;
            border-radius: 5px;
          }

          input {
            position: absolute;
            top: -20px;
            left: -20px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }

          span {
            font-weight: 300;
            font-size: 15px;
            line-height: 38px;
            color: #000000;
            margin-left: 10px;
          }
        }
      }
    }

    &-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #374151;
      text-align: left;
      margin-bottom: 4px;
    }
  }

  &__mint {
    margin-bottom: 50px;

    @media (max-width: $Large-lg) {
      margin-bottom: 40px;
    }
    @media (max-width: $Small-sm) {
      margin-bottom: 30px;
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #111827;
      margin-bottom: 24px;
      text-align: left;
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -19px;
    }

    &-item {
      flex: 0 0 50%;
      padding: 0 19px;
      margin-bottom: 20px;

      @media (max-width: $Small-sm) {
        flex: 0 0 100%;
      }

      &-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #374151;
        margin-bottom: 4px;
        text-align: left;
      }

      &-subtitle {
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: #6b7280;
        margin-top: 15px;
        text-align: left;
      }
    }
  }

  &__bottom {
    margin-bottom: 100px;

    @media (max-width: $Medium-md) {
      margin-bottom: 50px;
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #111827;
      text-align: left;
      margin-bottom: 4px;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #6b7280;
      text-align: left;
      margin-bottom: 35px;
    }

    &-input {
      display: flex;
      margin-bottom: 60px;

      @media (max-width: $Medium-md) {
        margin-bottom: 30px;
      }

      input {
        background: #ffffff;
        border: 1px solid #d1d5db;
        box-sizing: border-box;
        border-radius: 4px;
        min-width: 16px;
        width: 16px;
        height: 16px;
        margin-right: 12px;
        margin-top: 2px;
      }

      &-text {
        display: flex;
        flex-direction: column;
        span {
          &:first-child {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #374151;
            text-align: left;
          }
          &:last-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6b7280;
            text-align: left;
          }
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: flex-start;

      button {
        background: #4f46e5;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        padding: 9px 7px;
      }
    }
  }
}

.input {
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 9px 13px;
  width: 100%;
}

.bg {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 30px 40px;

  @media (max-width: $Large-lg) {
    padding: 25px 35px;
  }
  @media (max-width: $X-Small) {
    padding: 15px 20px;
  }
}

.rdw-editor-toolbar {
  padding-bottom: 10px;
}
