.participants {
  &__inner {
    background: #f9f9fa;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 120px;
    min-height: 100vh;

    @media (max-width: $Medium-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__tabs {
    flex: 0 1 50%;
    display: flex;
    border-bottom: 1px solid #e5e7eb;

    &-tabpane {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #6b7280;
      padding-bottom: 16px;
      cursor: pointer;

      &:first-child {
        margin-right: 30px;
      }

      &.active {
        color: #4f46e5;
        border-bottom: 2px solid #4f46e5;
      }
    }
  }

  &__select {
    position: relative;
    margin-top:20px;

    &-btn {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #374151;
      padding: 9px 17px;
      background: #ffffff;
      border: 1px solid #d1d5db;
      box-sizing: border-box;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      cursor: pointer;

      i {
        margin-left: 13px;
        font-size: 20px;
        transform: rotate(0deg);
        transition: all 0.3s;

        &.active {
          transform: rotate(180deg);
          transition: all 0.3s;
        }
      }
    }

    &-dropdown {
      background: #ffffff;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05),
        0px 0px 0px 1px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      top: 110%;
      right: 0;
      z-index: 1;
      pointer-events: none;
      opacity: 0;
      transform: translateY(-100%);
      transition: all 0.3s;

      &.active {
        transform: translateY(0);
        transition: all 0.3s;
        pointer-events: auto;
        opacity: 1;
      }

      button {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #374151;
        text-align: left;
        margin: 8px 16px;
        white-space: nowrap;
      }
    }
  }

  &__list {
    &-search {
      background: #ffffff;
      border: 1px solid #d1d5db;
      box-sizing: border-box;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      margin-bottom: 30px;

      input {
        padding: 8px 10px;
        width: 100%;

        &::placeholder {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #6b7280;
        }
      }
    }

    &-table {
      background: #ffffff;
      border: 1px solid #e5e7eb;
      box-sizing: border-box;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      @media (max-width: $Medium-md) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }

      table {
        width: 100%;
        border-radius: 8px;
      }

      thead {
        background: #f9fafb;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        tr {
          border-bottom: 1px solid #e5e7eb;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #e5e7eb;
        }

        tr:last-child {
          border-bottom: none;
        }
      }

      tr {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      th {
        padding: 10px;
        text-align: left;

        &:first-child {
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 10px;

        span {
          &:first-child {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #111827;
          }

          &:last-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6b7280;
          }
        }
      }

      &-wallet {
        display: flex;
        align-items: center;
      }

      &-img {
        width: 40px;
        height: 40px;
        margin-left: 24px;

        img {
          width: 100%;
        }
      }

      &-twitter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 10px;

        span {
          &:first-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #111827;
          }

          &:last-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6b7280;
          }
        }
      }

      &-discord {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #4f46e5;
      }

      &-delete {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ff0000;
        cursor: pointer;
      }
    }
  }

  &__winners {
    &-bottom {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    &-inputs {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .input-container {
        flex: 0 1 50%;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    &-table {
      background: #ffffff;
      border: 1px solid #e5e7eb;
      box-sizing: border-box;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.06);
      border-radius: 8px;

      @media (max-width: $Medium-md) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }
    }

    table {
      width: 100%;
      text-align: left;
      border-radius: 8px;
    }

    thead {
      background: #f9fafb;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      tr {
        border-bottom: 1px solid #e5e7eb;
      }

      th {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #6b7280;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #e5e7eb;
      }

      tr:last-child {
        border-bottom: none;
      }

      td {
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #6b7280;

        &:first-child {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #111827;
        }
      }
    }

    tr {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    th {
      padding: 10px;
      text-align: left;

      &:first-child {
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
      }
    }

    .signup__btn {
      margin-left: auto;
    }
  }
}
